@import './constants.scss';

* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}

html, body { 
width: 100%;
}

body.modal-open {
  overflow: hidden;
}

header {
  padding: $gutter-size--large;

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}

.primary-btn {
  width: 100%;
  height: 32px;
  margin: 16px 0;
  background: $positive;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background: darken($positive, 5%);
  }
}

.secondary-btn {
  margin: 8px;
  padding: 8px;
  background: #FFFFFF;
  border: 1px solid $secondary-dark;
  color: $secondary-dark;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background: $secondary-light;
  }

  &.active {
    background: $positive;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
}

.booking-container {
  padding-left: 12px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app {
  height: 100%;
  position: relative;
}

.app-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  &__link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 $gutter-size--large;
    text-decoration: none;
    color: $secondary-dark;

    &:hover {
      color: $secondary-extra-dark;
      text-decoration: underline;
    }

    &.disabled {
      cursor: not-allowed;

      &:hover {
        color: $secondary-dark;
        text-decoration: unset;
      }
    }
  }

  &__icon {
    margin: 0 $gutter-size--large;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin: 0 16px;
  border-radius: 50%;
  background: $secondary-dark;
  color: $secondary-light;

  &:hover {
    color: $secondary-extra-dark;
  }
}

.app-main {
  margin: 0 16px;

  &__profile-pic {
    display: flex;
    align-items: center;
    margin: 16px 0;

    .profile-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: $positive;
      border-radius: 50%;
    }

    .profile-name {
      font-size: 12px;
      font-weight: 600;
      margin-left: 16px;
    }
  }

  h1 {
    margin: 16px 0;
  }

  h2 {
    display: flex;
    margin: 24px 0;
  }

  .heading-imgs {
    margin-right: 10px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-light;
  }

  .book-apointment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $positive;
  }

  &__menu {
    padding-left: 0;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    height: 50px;
    list-style: none;
    cursor: pointer;
    
    &:hover {
      background: $secondary-light;
    }

    &::after {
      position: absolute;
      right: 16px;
      display: block;
      content: ' ';
      background-image: url('./images/angle-right.svg');
      background-size: 16px 16px;
      height: 16px;
      width: 16px;
    }

    .default-link {
      display: flex;
      color: $secondary-extra-dark;
      text-decoration: none;
    }

    .link-img {
      margin-right: 16px;
    }

    .link-text {
      display: flex;
      flex-direction: column;

      &__title {
        color: $secondary-extra-dark;
        font-weight: 600;
        margin-bottom: $gutter-size;
      }

      &__details {
        font-size: 12px;
        color: $secondary-dark;
      }
    }

    .appointment-link {
      display: flex;
      flex: 1;
      align-items: center;
      text-decoration: none;

      .appointment-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $positive;
      }
    }
  }

  .booking-notes {
    display: block;
    width: 100%;
    border: 1px solid $secondary-dark;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

.time-picker-modal {
  position: absolute;
  background: none;
  width: 300px;
  max-height: 300px;
  margin: 20px;

  &__container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(86, 86, 97, 0.6);
    height: 100%;
    width: 100vw;
  }

  .time-slots {
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 300px;
  }

  .slot {
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding: 8px 16px;
    color: $secondary-dark;
    cursor: pointer;

    &:nth-child(odd) {
      background: $secondary-extra-light;
    }
  }
}
